/* styles.css */

/* Center align the page and provide some spacing */
body {
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 5;
    background-color: #f4f4f4;
}

/* Styling for the main content */
.content {
    width: 80%;
    margin: 20px auto;
    text-align: justify;  /* Justify text in the paragraphs */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the heading */
h1 {
    text-align: center;
    color: #2C3E50;
}

/* Styling for the images */
.college-img {
    width: 22%; /* Set a fixed width for each image */
    margin: 10px; /* Add space between images */
    border-radius: 5px;
}

p{
	text-align: justify;
	font-family: 'Roboto',sans-serif;
	font-weight: 500;
}
/* Styling for the table */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #2C3E50;
    color: white;
}
